:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1160px;
  --content-fluid-width: 1190px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --light-color: #fff;
  --accent-color: #e34646;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
  --swiper-color: #007aff;
  --nav-link-color: #339af0;
  --background-grey-color: #f3f3f5;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  padding: 25px 30px;
  min-width: 260px;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
}

.btn:focus-visible {
  outline: none;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}

.btn:hover {
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
}

.card__image {
  height: 100px;
}

.card__image img {
  -o-object-fit: cover;
  object-fit: cover;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 576px) {
  .card__content {
    padding: 0px;
    padding-top: 10px;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 15px;
}

.card__descr {
  margin: 0;
}

.card__btn {
  margin-top: auto;
  border: none;
  padding: 10px 20px;
  background-color: var(--accent-color);
  cursor: pointer;
}

.cards__item .card {
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 15px;
  width: 100%;
}
.form__input {
  border-radius: 5px;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-color);
}
.form__input::-webkit-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-moz-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input:-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::placeholder {
  color: rgba(40, 41, 68, 0.7);
}
@media (max-width: 576px) {
  .form__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .form__input::-moz-placeholder {
    font-size: 14px;
  }
  .form__input:-ms-input-placeholder {
    font-size: 14px;
  }
  .form__input::-ms-input-placeholder {
    font-size: 14px;
  }
  .form__input::placeholder {
    font-size: 14px;
  }
}

.just-validate-error-label {
  margin-bottom: 3px;
  color: var(--accent-color);
}

.modal__form-input {
  border: 1px solid var(--dark-color);
  border-radius: 10px;
}
.modal__title {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  color: var(--dark-color);
  margin-bottom: 30px;
}
.modal__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-color);
  margin-bottom: 15px;
}
.modal__info-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.burger {
  display: none;
}

@media (max-width: 992px) {
  .burger {
    position: relative;
    display: inline-block;
    border: 1px solid var(--nav-link-color);
    border-radius: 10px;
    width: 44px;
    height: 44px;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    height: 2px;
    width: 26px;
    background-color: var(--nav-link-color);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .burger__line:first-child {
    margin-top: -7px;
  }
  .burger__line:last-child {
    margin-top: 7px;
    width: 13px;
    left: 8px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .burger-close {
    position: absolute;
    right: var(--container-offset);
    top: 30px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background-image: url("../img/close.svg");
    background-position: center;
    background-size: 14px 12px;
    background-repeat: no-repeat;
  }
}
.phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: var(--nav-link-color);
}
@media (max-width: 992px) {
  .phone {
    position: relative;
    margin-right: 10px;
    margin-left: auto;
  }
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.button-fixed {
  position: fixed;
  top: 80%;
  right: 5%;
}
@media (max-width: 576px) {
  .button-fixed {
    display: none;
  }
}

.btn-12 span {
  background: rgb(0, 172, 238);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(245, 108, 108)), to(rgb(227, 70, 70)));
  background: -o-linear-gradient(bottom, rgb(245, 108, 108) 0%, rgb(227, 70, 70) 100%);
  background: linear-gradient(0deg, rgb(245, 108, 108) 0%, rgb(227, 70, 70) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-12 span:nth-child(1) {
  -webkit-box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -ms-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -ms-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    opacity: 1;
    visibility: visible;
  }
}
.tooltip__txt {
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-box-shadow: 0 2px 8px rgba(20, 16, 36, 0.1);
  box-shadow: 0 2px 8px rgba(20, 16, 36, 0.1);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
  background: var(--light-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.globe-container,
.globe {
  width: 200px;
  height: 200px;
}

.globe-container {
  position: relative;
  display: inline-block;
  margin: 30px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.globe {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.globe::before {
  content: "";
  width: 171px;
  height: 71px;
  position: absolute;
  background-image: url("../img/logoActiv.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 7%;
  left: 75%;
  z-index: 100;
}
@media (max-width: 576px) {
  .globe::before {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 7%;
  }
}

.globe-worldmap,
.globe-worldmap-front,
.globe-worldmap-back,
.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  position: absolute;
  display: block;
  margin: 0;
}

.globe-sphere,
.globe-outer-shadow,
.globe-inner-shadow {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.globe-worldmap {
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  touch-action: none;
  -ms-touch-action: none;
}

.globe-worldmap-front,
.globe-worldmap-back {
  left: 0;
  top: 0;
  width: 1000px;
  height: 200px;
  overflow: visible;
  background-image: url("../img/worldmap.svg");
  background-repeat: no-repeat;
}

.globe-outer-shadow {
  left: 0;
  top: 186px;
  width: 200px;
  height: 30px;
  background-image: url("../img/outer_shadow.svg");
}

.globe-inner-shadow {
  background-image: url("../img/inner-2.svg");
}

.globe-worldmap-front {
  background-position: 0px 0px;
  -webkit-animation: textureSpinreverse 8s linear infinite;
  animation: textureSpinreverse 8s linear infinite;
}

.globe-worldmap-back {
  background-position: 0px -220px;
  -webkit-animation: textureSpin 8s linear infinite;
  animation: textureSpin 8s linear infinite;
}

@-webkit-keyframes textureSpin {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-47.5%);
    transform: translateX(-47.5%);
  }
}

@keyframes textureSpin {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-47.5%);
    transform: translateX(-47.5%);
  }
}
@-webkit-keyframes textureSpinreverse {
  from {
    -webkit-transform: translateX(-47.5%);
    transform: translateX(-47.5%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes textureSpinreverse {
  from {
    -webkit-transform: translateX(-47.5%);
    transform: translateX(-47.5%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#box {
  position: relative;
  display: inline-block;
  background: url("../img/earth.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-animation: movimiento 7s linear 0s infinite;
  animation: movimiento 7s linear 0s infinite;
  box-shadow: -2px -2px 51px 4px rgba(15, 63, 194, 0.75);
  -webkit-box-shadow: -2px -2px 51px 4px rgba(15, 63, 194, 0.75);
  -moz-box-shadow: -2px -2px 51px 4px rgba(15, 63, 194, 0.75);
  /*   box-shadow:0 0 25px RGBA(255,255,255, 0.10),
             -8px -8px 15px #000 inset,
             2px 2px 25px #000 inset,
             -45px -45px 25px RGBA(0,0,0, 0.5) inset,
             25px 25px 45px RGBA(0,0,0, 0.45) inset; */
  /*   transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg); */
}

#box::before {
  content: "";
  position: absolute;
  top: 7%;
  left: 65%;
  width: 171px;
  height: 71px;
  background-image: url("../img/logoActiv.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}

@keyframes movimiento {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 355px 0;
  }
}
.reportPartners {
  padding-top: 30px;
  padding-bottom: 30px;
}
.reportPartners__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
}
.reportPartners__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .reportPartners__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.reportPartners__item {
  position: relative;
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  min-height: 300px;
}
@media (max-width: 1024px) {
  .reportPartners__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
  }
}
.reportPartners__item-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
}
.reportPartners__text--text {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}
.reportPartners__btns {
  position: absolute;
  bottom: -45px;
}
@media (max-width: 576px) {
  .reportPartners__btns {
    display: none;
  }
}
.reportPartners__item-video {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 1024px) {
  .reportPartners__item-video {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 0;
    grid-row-end: 2;
  }
}
.reportPartners__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reportPartners__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.reportPartners__slider-btn--prev {
  background-image: url("../../img/prev.svg");
}
.reportPartners__slider-btn--next {
  background-image: url("../../img/next.svg");
}
.reportPartners__slider-btn--nextsvg path {
  fill: var(--swiper-color);
}
.reportPartners__slider-btn--prev {
  background-image: url("../../img/prev.svg");
}
.reportPartners__slider-btn--prevsvg path {
  fill: var(--swiper-color);
}
.reportPartners__slider-btn:not(:last-child) {
  margin-right: 10px;
}

.header {
  position: fixed;
  width: 100%;
  height: 105px;
  top: 0;
  z-index: 1000;
  background-color: var(--light-color);
}
@media (max-width: 992px) {
  .header {
    background-color: var(--background-grey-color);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  z-index: 100;
}
@media (max-width: 992px) {
  .header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--background-grey-color);
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header__phone {
    position: relative;
    margin-right: 10px;
    margin-left: auto;
    border: 1px solid var(--nav-link-color);
    border-radius: 10px;
    width: 44px;
    height: 44px;
    font-size: 0;
    background-image: url("../img/phone.svg");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}
.header .phone-icon {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .header .phone-icon {
    display: none;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 150px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(32.01%, #005fa5), to(#ffffff));
  background-image: -o-linear-gradient(left, #005fa5 32.01%, #ffffff 100%);
  background-image: linear-gradient(90deg, #005fa5 32.01%, #ffffff 100%);
  padding-top: 105px;
}
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 480px;
}
.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 160%;
  color: var(--light-color);
  margin-bottom: 50px;
  max-width: 690px;
}
@media (max-width: 576px) {
  .hero__title {
    color: var(--dark-color);
    font-size: 32px;
  }
}

.nav__list {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
.nav__list li a {
  position: relative;
  padding: 6px 0;
  text-decoration: none;
}
.nav__list li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: var(--accent-color);
  border-radius: 12px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav__list li a:hover:before {
  width: 100%;
}
.nav__list li.center a:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.nav__list li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav__list li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
.nav__list li.forward a:before {
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.nav__list li.forward a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.nav__item {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.nav__item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 992px) {
  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: right;
  color: var(--nav-link-color);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.nav__link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media (max-width: 992px) {
  .nav__link {
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: var(--light-color);
  }
}
@media (max-width: 992px) {
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--nav-link-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--light-color);
}
.about__descr {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.about__descr-highlight {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
}
@media (max-width: 576px) {
  .about__descr-highlight {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .about__descr {
    font-size: 20px;
  }
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.about__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .about__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.about_digit {
  margin-bottom: 15px;
}
.about__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .about__text {
    font-size: 16px;
  }
}

.padding-top {
  padding-top: 120px;
}

.benefits {
  background-color: var(--background-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.benefits__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}
@media (max-width: 380px) {
  .benefits__title {
    text-align: start;
    font-size: 24px;
  }
}
.benefits__subtitle {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
}
@media (max-width: 576px) {
  .benefits__subtitle {
    font-size: 24px;
  }
}
.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.benefits__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  min-height: 200px;
}
@media (max-width: 768px) {
  .benefits__item {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.benefits__item--text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .benefits__item--text {
    max-width: 300px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
.benefits__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.working {
  background-color: var(--light-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 576px) {
  .working {
    padding-bottom: 0;
  }
}
.working__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}
@media (max-width: 380px) {
  .working__title {
    font-size: 24px;
  }
}
.working__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 60px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .working__list {
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .working__list {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.working__item {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  padding: 5px 15px;
}
@media (max-width: 576px) {
  .working__item {
    -ms-grid-column-span: 10;
    grid-column: 10 span;
  }
}
.working__item--number {
  border-radius: 50px;
  background-color: var(--accent-color);
  padding: 15px;
  margin-right: 10px;
}
.working__item--descr {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.working__item--link {
  background-color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.working__item:not(:last-child) {
  border-radius: 8px;
  border: 3px solid #d3d3d3;
}
.working__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  padding-left: 20px;
  color: var(--light-color);
  font-weight: 500;
  font-size: 24px;
}
.working__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .working__item1 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}
.working__item2 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}
@media (max-width: 768px) {
  .working__item2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}
.working__item3 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
}
@media (max-width: 768px) {
  .working__item3 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}
.working__item4 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 0;
  grid-row-end: 4;
}
@media (max-width: 768px) {
  .working__item4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}
.working__item5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 0;
  grid-row-end: 5;
}
@media (max-width: 768px) {
  .working__item5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}
.working__item6 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 0;
  grid-row-end: 6;
}
@media (max-width: 768px) {
  .working__item6 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
  }
}
@media (max-width: 576px) {
  .working__item6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 9;
    grid-column-end: 10;
  }
}
@media (max-width: 380px) {
  .working__item6 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 7;
    grid-column-end: 8;
  }
}

.tariffs {
  padding-top: 60px;
  padding-bottom: 60px;
}
.tariffs__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}
@media (max-width: 380px) {
  .tariffs__title {
    font-size: 24px;
  }
}
.tariffs__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .tariffs__list {
    gap: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
.tariffs__item {
  position: relative;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 40px;
}
@media (max-width: 1024px) {
  .tariffs__item {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
  }
}
@media (max-width: 576px) {
  .tariffs__item:not(:last-child) {
    padding: 15px 15px;
  }
}
.tariffs__item--descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--dark-color);
}
.tariffs__item:last-child {
  background-color: var(--accent-color);
}
.tariffs__item:not(:last-child) {
  border: 3px solid #d3d3d3;
}
.tariffs__item--descr-link {
  color: var(--light-color);
  font-weight: 500;
}
.tariffs__link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.tariffs__info-icon {
  position: absolute;
  right: -15px;
}
@media (max-width: 576px) {
  .tariffs__info-icon {
    right: -11px;
    top: -36px;
  }
}
.tariffs__info-icon--text {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  color: var(--light-color);
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  right: -3px;
}
@media (max-width: 576px) {
  .tariffs__info-icon--text {
    top: -14px;
  }
}

.partners {
  padding-top: 30px;
  padding-bottom: 30px;
}
.partners__content {
  margin-bottom: 55px;
}
.partners__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}
.partners__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.partners__img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.partners__img:hover {
  -webkit-filter: none;
  filter: none;
}
.partners__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .partners__nav {
    display: none;
  }
}
.partners__scroll {
  border-radius: 40px;
  width: 360px;
  height: 5px;
  background: rgba(20, 16, 36, 0.08);
}
.partners__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.partners__slider-btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.partners__slider-btn--prev {
  background-image: url("../img/prev.svg");
}
.partners__slider-btn--next {
  background-image: url("../img/next.svg");
}
.partners__slider-btn--nextsvg path {
  fill: var(--swiper-color);
}
.partners__slider-btn:not(:last-child) {
  margin-right: 10px;
}
.partners .swiper-scrollbar-drag {
  background-color: var(--swiper-color);
}

.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
}
.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
}
@media (max-width: 576px) {
  .contacts__title {
    font-size: 24px;
  }
}
.contacts__form-block {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--background-grey-color);
  margin-bottom: 40px;
}
.contacts__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 40px;
}
.contacts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (max-width: 576px) {
  .contacts__list {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }
}
.contacts__item {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--background-grey-color);
}
@media (max-width: 768px) {
  .contacts__item {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
@media (max-width: 576px) {
  .contacts__item {
    -ms-grid-column-span: 8;
    grid-column: 8 span;
  }
}
.contacts__item-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .contacts__item-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.contacts__item-type--name {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}
.contacts__text {
  margin: 0;
  font-weight: 400;
  font-style: 18px;
  line-height: 160%;
  color: var(--dark-color);
}
.contacts__link {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid var(--dark-color);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--dark-color);
}
.contacts__tel {
  font-weight: 400;
  font-size: 24px;
  color: var(--nav-link-color);
}
.contacts__tel-info {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-0.98%, #0066ac), to(#ffffff));
  background-image: -o-linear-gradient(left, #0066ac -0.98%, #ffffff 100%);
  background-image: linear-gradient(90deg, #0066ac -0.98%, #ffffff 100%);
}
.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  padding-top: 40px;
  margin-bottom: 30px;
}
.footer__left, .footer__right {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 768px) {
  .footer__left {
    margin-bottom: 20px;
  }
}
.footer__right {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 17%;
}
@media (max-width: 1024px) {
  .footer__right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer__right {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer__block {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
  }
}
.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--light-color);
}
.footer__text:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 576px) {
  .footer__text {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-color);
  }
}
.footer__link {
  color: var(--light-color);
}
.footer__link:focus-visible {
  color: var(--accent-color);
  outline: none;
}
.footer__link:hover {
  color: var(--accent-color);
}
@media (max-width: 576px) {
  .footer__link {
    font-weight: 500;
    color: var(--dark-color);
  }
}
.footer__copyright {
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .footer__copyright {
    font-weight: 500;
    color: var(--dark-color);
  }
}
/*# sourceMappingURL=main.css.map */